body {
    /* CUERPO */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0bf4c;
    position: relative;
    
}


/*imagen de carrusel index permite que se quede centrada y no cambie su tama침o o deforme su posicion*/
.container-flexible {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 50px;
    padding-right: 20px;
    overflow: hidden; 
}

.carousel-inner {
    width: 700px;
    height: auto; 
}

.carousel-item img {
    width: 100%; 
    height: auto;
    object-fit: cover; 
}

@media screen and (max-width: 768px) {
    .container-flexible {
        padding-top: 20px; 
    }

    .carousel-inner {
        width: 90%; 
    }
}


/* Elimina los estilos w-100 y h-100 de las im치genes en las columnas */
.flex-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Ajusta el tama침o de las columnas en dispositivos peque침os */
@media (max-width: 576px) {
    .col-6 {
        flex: 0 0 30%; 
        max-width: 30%; 
    }
}

.conectemos-img {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px; 
    padding-top: 200px;
    
}


span#logo-index{
    color: white;
    font-weight: bold;
    font-size: 50px;
}
span#slogan{
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding-left: 500px;
}
