

#logo-carrito-compra:hover{
    color: rgb(40, 148, 137);
}

#logo-carrito-compra{
    color: black;
    font-size: 50px;
    padding-right: 0px;
}
#cantidad-productos{
    background-color: #f0bf4c;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    aspect-ratio: 1;
    text-align: center;
    position:absolute;
}
.carrito-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    
}
.carrito-item-detalles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrito-item-titulo {
    font-weight: bold;
}

.btn-eliminar {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.btn-eliminar:hover {
    background-color: #c82333;
}
