{% extends 'core/base.html' %}
{% load static %}

{% block title %}Carrito{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Pago</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'core/css/cart.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/pago-tarjeta.css' %}">
</head>

<body>

  <<div style="padding-top: 50px;">

    </div >

    <div class="container">
      <div class="carrito " id="carrito">
        <div class="header-carrito">
          <h2>Tu Carrito</h2>
        </div>
        <div class="carrito-items" id="carrito-items">
          <!-- Aquí se mostrarán las reservas -->
        </div>
        <div class="carrito-total">
          <div class="fila">
            <strong>Tu Total</strong>
            <span class="carrito-precio-total"></span>
          </div>
          <a href="{% url 'wait_and_redirect' %}" class="btn-pagar" onclick="enviarReservasAJAX()">Pagar<i class="fa-solid fa-bag-shopping"></i></a>
          <button type="button" class="btn-eliminar" aria-label="Close" onclick="limpiarLocalStorage()">VACIAR SU
            CARRITO</button>
        </div>
      </div>
    </div>

  <!-- FORMULARIO RESERVA HORA -->
  <div class="modal fade" id="boton-compra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="payment-form">
            <h2>Formulario de Pago</h2>

            <label for="card-name">Nombre en la Tarjeta</label>
            <input type="text" id="card-name" name="card-name" required>

            <label for="card-number">Número de Tarjeta</label>
            <input type="text" id="card-number" name="card-number" placeholder="xxxx-xxxx-xxxx-xxxx" required>

            <div class="row">
              <div class="col">
                <label for="expiry-date">Fecha de Expiración</label>
                <input type="text" id="expiry-date" name="expiry-date" placeholder="MM/AA" required>
              </div>
              <div class="col">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" required>
              </div>
            </div>
            <button type="submit" class="button-cart" onclick="pagar()">Pagar</button>
            &nbsp;
            <button type="button" class="btn btn-secondary button-cart" data-bs-dismiss="modal">Cerrar</button>
          </form>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>


  <div style="padding-top: 50px;"></div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'core/js/reserva.js' %}"></script>

  <script>
    function pagar() {
      event.preventDefault();
      var form = document.getElementById('payment-form');
      if (form.checkValidity()) {
        form.submit();
        window.location.href = "{% url 'terapias' %}";
        $('#boton-compra').modal('hide');
      } else {
        form.reportValidity();
      }
    }


</body>

</html>
{% endblock %}