{% extends 'core/base.html' %}
{% load static %}

{% block title %}Carrito{% endblock %}
{% block content %}
{% load crispy_forms_tags %}


<link rel="stylesheet" href="{% static 'core/css/cart.css' %}">
<div style="padding-top: 50px;">

</div>

<div class="container">
  <div class="carrito " id="carrito">
    <div class="header-carrito">
      <h2>Tu Carrito</h2>
    </div>
    <div class="carrito-items" id="carrito-items">
      <!-- Aquí se mostrarán las reservas -->
    </div>
    <div class="carrito-total">
      <div class="fila">
        <strong>Tu Total</strong>
        <span class="carrito-precio-total"></span>
      </div>
      <a href="{% url 'pagos'%}" class="btn-pagar" onclick="pasoDePago(event)">Pagar<i
          class="fa-solid fa-bag-shopping"></i></a>
      <button type="button" class="btn-eliminar" aria-label="Close" onclick="limpiarLocalStorage()">VACIAR SU
        CARRITO</button>
    </div>
  </div>
</div>
</div>

<script src="js/registro.js"></script>
<script src="js/carrito-compra.js"></script>

{% endblock %}