{% extends 'core/base.html' %}
{% load static %}

{% block title %}Pago de consulta{% endblock %}
{% block content %}

<div style="padding: 100px;"></div>

<div class="container">
  <h1>Reserva de Hora</h1>
  <div class="agenda">
    <h2>Agenda</h2>
    <hr>
    <table class="table table-striped table-hover">
      <tr>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Tipo Consulta</th>
        <th>Tipo Modalidad</th>
        <th>Fecha de Reserva</th>
      </tr>
      <tr>
        <td>{{ reserva.nombre }} {{ reserva.apellido }}</td>
        <td>{{ reserva.telefono }}</td>
        <td>{{ reserva.get_tipo_consulta_display }}</td>
        <td>{{ reserva.get_tipo_modalidad_display }}</td>
        <td>{{ reserva.fecha }} {{ reserva.hora }}</td>
      </tr>
    </table>
    <a href="{% url 'carrito' reserva_id %}" class="btn btn-primary w-100">Ir al Carrito</a>
  </div>
</div>

{% endblock %}
