{% extends 'core/base.html' %}
{% load static %}
{% block title %}Confirmación de pago{% endblock %}
{% block content %}

<div class="main">
  <div class="d-flex align-items-center justify-content-center " style="height: 100vh;">
    <div class="row g-0 bg-body-secondary position-relative base" style="max-width: 800px;">
      <div class="col-12 p-4 text-center ">
        <h2 class="titulo">CONFIRMACIÓN DE SU COMPRA</h2>
        <p>Gracias por confiar en nosotros. Daremos lo mejor para ser ese apoyo que necesitas para ser tu mejor versión.</p>
      </div>
    </div>
  </div>
</div>
    <script src="{% static 'core/js/reserva.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            limpiarLocalStorage()
        });
    </script>
{% endblock %}